html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.icon-left-arrow {
  padding: 50px;
  background-size: contain;
  background-color: white;
  -webkit-mask-image: url('public/icon-left-arrow.svg');
  mask-image: url('public/icon-left-arrow.svg');
}

.icon-right-arrow {
  padding: 50px;
  background-size: contain;
  background-color: white;
  -webkit-mask-image: url('public/icon-right-arrow.svg');
  mask-image: url('public/icon-right-arrow.svg');
}

.icon-home {
  padding: 50px;
  background-size: contain;
  background-color: white;
  -webkit-mask-image: url('public/icon-home.svg');
  mask-image: url('public/icon-home.svg');
}

.icon-refresh {
  padding: 50px;
  background-size: contain;
  background-color: white;
  -webkit-mask-image: url('public/icon-refresh.svg');
  mask-image: url('public/icon-refresh.svg');
}

.icon-restart {
  padding: 50px;
  background-size: contain;
  background-color: white;
  -webkit-mask-image: url('public/icon-restart.svg');
  mask-image: url('public/icon-restart.svg');
}

.icon-replay {
  padding: 45px;
  background-size: contain;
  background-color: white;
  -webkit-mask-image: url('public/icon-replay.svg');
  mask-image: url('public/icon-replay.svg');
}